* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(74px * 8);
  height: calc(74px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 90%;
  user-select: none;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: rgb(255, 197, 36);
}

.selected {
  background-color: rgb(149, 20, 235);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}

.lost {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.lost-wrapper h3 {
  text-align: center;
}

.lost-wrapper {
  height: calc(40vh - 60px);
  width: calc(15vw - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightpink;
  border-radius: 20%;
}

.timer {
  background-color: lightpink;
  margin-right: 20px;
  padding: 30px;
  border-radius: 20%;
}

.timer button {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  border: 4px rgb(0, 255, 0);
  border-style: groove;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  transform: translateY(0);
  transition: all .5s;
}

.timer button:hover {
  transform: translateY(-15px);
}