* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 90%;
  user-select: none;
}

.black {
  background-color: deepskyblue;
}

.white {
  background-color: rgb(255, 197, 36);
}

.selected {
  background-color: rgb(149, 20, 235);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}